
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
body {
    background: #b66e0a;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: burlywood;
}

header {
    background-color: #d9a152;;
}
.title {
    text-align: center;
}

.title h1 {
    font-size: 42px;
}

.coffee {
    flex: 0 0 300px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
} 

.coffee:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
}

.coffee img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description {
    flex: 1;
    padding: 2rem;
    border-left: 1px solid blanchedalmond;
}

.description h3 {
    font-size: 30;
    color: #b66e0a;
}/*  