
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
body {
    background: #b66e0a url('BG.png');
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: burlywood;
}

header {
    background-color: #ddaa61;
    padding: 40 px;
}

header h1{
    color: #824d04;
}

header h2 {
    color: #945908;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 42px;
}

.coffee {
    flex: 0 0 300px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
} 

.coffee:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
}

.coffee img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description {
    flex: 0 0 300px;
    padding: 2rem;
    display: flex;
    background-color: #824d04;
} 

.description:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
}

.description h2 {
    font-size: 40;
    color: #f6e1c5;
}  

.description h4{
    color: #f9d9af;
}

.description p{
    color: #f9d9af;
}