
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
body {
    background: #b66e0a;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: burlywood;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 42px;
}

.coffee {
    display: flex;
    background: bisque;
    border-radius: 12px;
    margin-bottom: 2.5rem;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
} 

.coffee:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.12);
}